#container {
    display: flex;
    padding: 2em;
    justify-content: center;
}

.center_div {
    width: 20px;
}

.div_p > p {
    border: solid 2px;
}

.div_p > div {
    border: solid 2px;
}



.btn {
    background-color: transparent;
    border: none;
    border-radius: 8px;
    color: black;
    cursor: pointer;
    transition-duration: 0.4s;
    font-size: 125%;
}

#left > .btn_invisible {
    display: none;
}

.btn:hover {
    background-color: black; /* Green */
    color: white;
}



#left {
    width: 75%;
    min-width: 500px;
    min-height: 2em;
    max-height: 1500px;
    color: #246e22;
    border: solid;
    padding: 1%;
}

#right {
    width: 75%;
    min-width: 500px;
    min-height: 2em;
    max-height: 1500px;
    color: #246e22;
    border: solid;
    padding: 1%;

}

#outer_element {
    padding: 1em;
}

#inner_element {
    margin-left: 3em;
}

.green_container {
    background-color: #d7fcda;
}
